# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs & Binaries (Too large for direct git repo)
dist/
dist-ssr/
release/
*.exe
*.tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Environment files
.env
.env.local
